[variables]
NODE_ENV = "production"

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm ci",
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[phases.build.artifacts]
paths = ["public/build"]

[start]
cmd = "php artisan migrate --force"
